
.headerclass{
    padding-top: 20px;
    height: 100px ;
    border-bottom: solid;
    border-width: 3px;
    border-bottom-color: black;
}
.imageLog{
    width: 500px;
    float: left;
}
.main{
    padding-top: 100px;
    float: center;
    align-items: center;
}
#divBusca{
    width: 1022px;
    height: 20px;
    float: left;
}
#btnBusca{
    border-color: coral;
    height: 35px;
    width: 15;
    float: left;
    background-color: coral;
}
#txtBusca{
    height: 30px;
    width: 980px;
    float: left;
}
#ImageFind{
    background-color: coral;
    float: left;
}
#nome{
    width: 300px;
}
#telefone{
    width: 300px;
}
#endereco{
    width: 300px;
}